<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="workLog" class="swt6.spring.basics.aop.WorkLogImpl"/>
    <bean id="traceAdvice" class="swt6.spring.basics.aop.advice.TraceAdvice"/>

    <aop:config>
        <aop:pointcut id="all-methods"
                      expression="execution(public * swt6.spring.basics.aop.*.*(..))"/>
        <aop:pointcut id="find-by-id-method"
                      expression="execution(public * swt6.spring.basics.aop.*.find*ById(..))"/>
        <aop:aspect ref="traceAdvice">
            <aop:before method="traceBefore"
                        pointcut-ref="all-methods"/>
            <aop:after method="traceAfter"
                       pointcut-ref="all-methods"/>
            <aop:around method="traceAround" pointcut-ref="find-by-id-method"/>
            <aop:after-throwing method="traceException"
                                pointcut-ref="all-methods"
                                throwing="exception"/>
        </aop:aspect>
    </aop:config>

</beans>